// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.letter{ 
	letter-spacing: 0.1em;
}
.block{
	display: block; 
}
.comment-bottom{
	vertical-align:bottom;
}
.border-bottom{
	border-bottom:3px solid #FFFF00;
}

.gsc-control-cse * {
    box-sizing: content-box;
}
.gsc-input {
    line-height: 2;
}

.icon-size {
  height:80px;
  width:80px;
}

// index

.flex {
  display:flex;
  justify-content: space-between;
}


@media screen and (max-width:425px) {
  .icon-size {
	height:40px;
	width: 40px;
  }
  .comment-name {
   font-size: 18px;
  }
  .header-size {
   font-size: 28px;
  }
  .flex {
   display:block;
  }

}