// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.letter{ 
	letter-spacing: 0.1em;
  	padding:0 10%; 
}
.block{
	display: block; 
}
.comment-bottom{
	vertical-align:bottom;
}
.border-bottom{
	border-bottom:3px solid #FFFF00;
}
