// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon-size {
  height:80px;
  width:80px;
}

@media screen and (max-width:425px) {
.clearfix::after {
    content:"";
    display:block;
    clear: both;
    }
.icon-size {
	height:60px;
	width: 60px;
    }
.header-size {
	font-size: 28px;
    }
.user-name {
	font-size: 18px;
	}
}


.bg-image {
    padding:100px 0 100px 0;
    background-image:url("pencil.jpg");
    background-size:cover;
    color:white;
    opacity:0.7;

}
.bg-image h1 {
    letter-spacing:6px;
}

.box-size {
    margin:0 auto;
    padding:0 0 100px 0;
}

.left-box {
    height:auto;
}

.right-box {
    height:350px;
    padding:20px;

}
.right-box h5 {
    margin-bottom:20px;
}
.btn-position {
    float:right;
}
