// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon-size {
  height:80px;
  width:80px;
}

@media screen and (max-width:425px) {
.clearfix::after {
    content:"";
    display:block;
    clear: both;
    }
.icon-size {
	height:60px;
	width: 60px;
    }
.header-size {
	font-size: 28px;
    }
.user-name {
	font-size: 18px;
	}
}

